<form>
    <div class="mb-3">
        Escolha uma área:
        <select class="form-select" aria-label="Selecionar uma área">
            <option selected>Selecionar uma área</option>
            <option value="1">Clinico Geral</option>
            <option value="2">Fisioterapeuta</option>
            <option value="1">Cardiologista</option>
        </select>

    </div>

    <div class="mb-3">
        Escolha um proficional:
        <select class="form-select" aria-label="Selecione um proficional">
            <option selected>Selecionar um proficional</option>
            <option value="1">Dr. Fernando Souza</option>
            <option value="2">Dra. Maria Clara</option>
            <option value="1">Dr. Luíz Andre</option>
        </select>

    </div>

    <div class="mb-3">
        Tipo de atendimento:
        <select class="form-select" aria-label="Selecione um tipo de atendimento">
            <option selected>Selecionar um tipo</option>
            <option value="1">Particular</option>
            <option value="2">Convênio Dr. Saúde</option>
            <option value="1">Convênio Prefeitura</option>
        </select>

    </div>

    <div class="mb-3">
        Crie ou digite o nome do cliente:
        <div class="imput-group">
            <div class="form-control" type="text" value="" aria-label="readonly input example">
            </div>
            <div class="text-start">
                <small>Confirme o telefone do cliente: (15) 9975-1539</small>
            </div>
        </div>

        <div class="mb-3">
            Comentários:
            <textarea class="form-control" id="floatingTextarea"></textarea>
        </div>

</form>